.name {
    height: 150px;
    background: #A4BE7B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
}
i{
    margin-top: 50px;
    margin-left: -12px;
}
#sack{
    transform: rotate(55deg);
}
#stairs{
    margin-bottom: -10px;
    transform: rotate(42deg);
    margin-left: -5px;
}
#heading {
    color: #00243e;
    font-size: 30px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-family: Lato, Helvetica, Arial, sans-serif;
    color: #FFE15D;
    background: #00005C;
}
#new{
    width: 100px;
    background: #00243e;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    justify-self: flex-start;
    align-self: flex-start;
}
#new:hover{
    border: 40px;
    box-shadow: 1px 0px 18px -1px rgba(136,139,148,1);
}
.subheading{
    font-size: 15px;
    font-family: Lato, Helvetica, Arial, sans-serif;
    margin-top: -10px;
    background: #3F979B;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}
.container {
    width: auto;
    height: auto;
    /* background: #005B9A; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container1 {
    height: auto;
    width: 495px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.start {
    height: 400px;
    width: 360px;
    background: #E8E2E2;
    margin-top: 25px;
    margin-bottom: 20px;
    border-radius: 10px;

}

.start-question {
    height: 120px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #005B9A;
    
}
.question{
    font-size: 1.3rem;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #00243e;
    background: #93BFCF;
}

.count {
    height: 120px;
    margin-top: 30px;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bill1 {
    height: 200px;
    width: 360px;
    background: #b2e8f0;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    -webkit-box-shadow: 1px 0px 18px -1px rgba(136,139,148,1);
    -moz-box-shadow: 1px 0px 18px -1px rgba(136,139,148,1);
    box-shadow: 1px 0px 18px -1px rgba(136,139,148,1);
    display: none;
}

.bill2 {
    height: 200px;
    width: 360px;
    background: #c85858;
    margin-bottom: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 1px 0px 18px -1px rgba(136,139,148,1);
    -moz-box-shadow: 1px 0px 18px -1px rgba(136,139,148,1);
    box-shadow: 1px 0px 18px -1px rgba(136,139,148,1);
    display: none;
}

.bill3 {
    height: 200px;
    width: 360px;
    background: #B99B6B;
    /* background: #f60000; */
    margin-bottom: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 1px 0px 18px -1px rgba(136,139,148,1);
    -moz-box-shadow: 1px 0px 18px -1px rgba(136,139,148,1);
    box-shadow: 1px 0px 18px -1px rgba(136,139,148,1);
    display: none;
}

.bill4 {
    height: 200px;
    width: 360px;
    background: #a6f30d;
    margin-bottom: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 1px 0px 18px -1px rgba(136,139,148,1);
    -moz-box-shadow: 1px 0px 18px -1px rgba(136,139,148,1);
    box-shadow: 1px 0px 18px -1px rgba(136,139,148,1);
    display: none;
}

.bill5 {
    height: 200px;
    width: 360px;
    background: #7165f4; 
    margin-bottom: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 1px 0px 18px -1px rgba(136,139,148,1);
    -moz-box-shadow: 1px 0px 18px -1px rgba(136,139,148,1);
    box-shadow: 1px 0px 18px -1px rgba(136,139,148,1);
    display: none;
}

.calculate {
    height: 90px;
    width: 360px;
    background: #ade0ab;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.solution {
    height: auto;
    width: auto;
    background: #d9f6e5;
    margin-top: 25px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    display: none;
}

.form1 {
    margin-top: 10px;
    margin-left: 20px;
}

.name-input {
    height: 30px;
    width: 170px;
    margin-bottom: 10px;
}

.money-input {
    height: 30px;
    width: 170px;
    margin-bottom: 10px;
}

#button {
    height: 50px;
    width: 200px;
    background: #645CBB;
    color: #E8E2E2;
    font-size: larger;
    border-radius: 10px;
    font-family: Lato, Helvetica, Arial, sans-serif;
    box-shadow: 2px 2px 10px #282e33;
}

#button:hover {
    box-shadow: 2px 1px 10px #282e33, 2px 1px 10px #7c33db,
        2px 1px 10px #30e792, 2px 1px 10px #5398d0
}

#count-btn-minus {
    height: 50px;
    width: 50px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: x-large;
    border-radius: 4px;
    color: aliceblue;
    background: #005B9A;
}

#count-btn-minus:hover {
    box-shadow: 5px 5px 10px #00243e,
        -1px -1px 10px #0092f6;
}

#count-btn-plus {
    height: 50px;
    width: 50px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: x-large;
    border-radius: 4px;
    color: aliceblue;
    background: #005B9A;

}

#count-btn-plus:hover {
    box-shadow: 5px 5px 10px #00243e,
        -1px -1px 10px #0092f6;
}

#ppl-count {
    height: 50px;
    width: 160px;
    font-size: larger;
    text-align: center;
}

#submit-btn {
    height: 60px;
    width: 180px;
    font-size: 25px;
    font-family: Lato, Helvetica, Arial, sans-serif;
    background: #8EA7E9;
    box-shadow: 2px 2px 10px #282e33
}

#submit-btn:hover {
    box-shadow: 5px 5px 10px #5f6e83
}



#warning,
#warning2,
#warning3 {
    display: none;
}

#result,
#result2,
#result3,
#result4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
}

#who,
#whom {
    color: #34495e;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}

#who2,
#whom2 {
    color: #34495e;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}

#who3,
#whom3 {
    color: #34495e;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}

#who4,
#whom4 {
    color: #34495e;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}

#equal {
    display: none;
}

#warning1 {
    display: flex;
    justify-content: center;
    color: red;
    display: none;
}

#owes {
    display: flex;
    height: auto;
    width: auto;
    font-size: 20px;
    color: #ffffff;
    background: #3498db;
    justify-content: center;
    margin-left: 10px;
    margin-right: 30px;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    line-height: 40px;
    font-family: Lato, Helvetica, Arial, sans-serif;
    position: relative;
}

#owes:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid #3498db;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
  #owes:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid #3498db;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }

#owes2 {
    display: flex;
    height: auto;
    width: auto;
    font-size: 20px;
    color: #ffffff;
    background: #3498db;
    justify-content: center;
    margin-left: 10px;
    margin-right: 30px;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    line-height: 40px;
    font-family: Lato, Helvetica, Arial, sans-serif;
    position: relative;
}

#owes2:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid #3498db;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
  #owes2:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid #3498db;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }


#owes3 {
    display: flex;
    height: auto;
    width: auto;
    font-size: 20px;
    color: #ffffff;
    background: #3498db;
    justify-content: center;
    margin-left: 10px;
    margin-right: 30px;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    line-height: 40px;
    font-family: Lato, Helvetica, Arial, sans-serif;
    position: relative;
}

#owes3:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid #3498db;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
  #owes3:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid #3498db;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }

#owes4 {
    display: flex;
    height: auto;
    width: auto;
    font-size: 20px;
    color: #ffffff;
    background: #3498db;
    justify-content: center;
    margin-left: 10px;
    margin-right: 30px;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    line-height: 40px;
    font-family: Lato, Helvetica, Arial, sans-serif;
    position: relative;
}

#owes4:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid #3498db;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
  #owes4:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid #3498db;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }

#firstr,
#secondr,
#thirdr {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#topr {
    display: flex;
    height: 40px;
    width: auto;
    background: #2ecc71;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: Lato, Helvetica, Arial, sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 20px;
    padding-left: 20px;
}
 #rs-span1{
    color: black;
}
#bill2 p , #rs-span2{
    color: #ffffff;
}
#rs-span1{
    color: black;
}
#rs-span1{
    color: black;
}
#bill5 p , #rs-span5{
    color:#ffffff;
}
#equal{
    display: none;
    font-family:Lato, Helvetica, Arial, sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-self: center;
    align-self: center;
}